{:site-title         "Today is better than yesterday!"
 :author             "Pradnyesh Sawant"
 :description        "This blog is awesome"
 :site-url           "http://spradnyesh.github.io/"
 :post-root          "posts"
 :tag-root           "tags"
 :page-root          "pages"
 :blog-prefix        ""
 :rss-name           "feed.xml"
 :rss-filters        ["cryogen"]
 :recent-posts       10
 :post-date-format   "yyyy-MM-dd"
 :sass-src           nil
 :sass-dest          nil
 :theme              "blue"
 :resources          ["img"]
 :keep-files         [".git"]
 :disqus?            true
 :disqus-shortname   "spradnyesh"
 :ignored-files      [#"\.#.*" #".*\.swp$"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          true}
